* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .apple-nav {
    background:white;
    padding: 12px 20px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
  }
  
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    background-color: rgb(255, 255, 255);
  
    
  }
  
  .nav-links {
    display: flex;
    list-style: none;
    gap: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
  }
  
  .nav-links a {
    color: #666666;
    text-decoration: none;
    font-size: 12px;
    font-weight: 400;
    
  }

  .nav-icon img {
    width: 55px;
  }
  
  .icon {
    width: 18px;
    height: 18px;
    fill: black;
    cursor: pointer;
    border-radius: 10px;
    
}

.icon-circle {
    display: flex;
    align-items: center;
    gap: 20px;
    
}

.icon:hover {
    opacity: 0.8;
}

.p1 {
    margin: auto;
    margin-top: 20px;
    font-size: 13px;
    width: 450px;
    text-align: center;
}

.p1 span a {
    color: #169eff;
    text-decoration: none;
}

.p1 span a:hover {
    color: #169eff;
    text-decoration:underline;
}

.main  {
    margin: auto;
    text-align: center;
    margin-top: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: 100;
    color: #666666;
    font-weight: 400;
    
}

h2 {
    font-weight: 600;
    margin-bottom: 10px;
}



input { 
    margin-top: 50px;
    padding: 20px 110px;
    border-radius: 10px;
    display: relative;
    font-size: 20px;
    border: 1px solid;
    margin-right: auto;
    margin-bottom: 20px;
    
}

.btn {
    margin-top: 25px;
    display: block;
    margin-bottom: 200px;

}

.btn1 {
    border-radius: 10px;
    margin: auto;
    border: hidden;
    height: 40px;
    width: 200px;
    margin-right: 10px;
    background: #169eff;
    color: white;
}

.btn2 {
    border-radius: 10px;
    margin: auto;
    border: hidden;
    height: 40px;
    width: 200px;
    margin-left: 10px;
    background: black;
    color: white;
}

.hamburger {
    display: none;
    background: none;
    border: none;
    color: rgb(14, 14, 14);
    font-size: 22px;
    cursor: pointer;  
    margin-bottom: 6px;
     
}

.hamburger a {
text-decoration: none;
color:black;

}

@media (max-width: 900px) {

/* hide the middle menu */
.nav-links {
  display: none ;
}

.hamburger {
    display: block;
  }
}

/* WRAPPER */
.dropdown {
position: relative;
}

/* DROPDOWN MENU BOX */
.dropdown-menu {
position: absolute;
top: 0; /* under navbar */
right: 0;
width: 100%;
height: 100vh;

background:white;
backdrop-filter: blur(5px);
min-width: 800px;
padding: 10px 0;


display: none;
flex-direction: column;
justify-content: center;
align-items: center;

border-color: white;

z-index: 999;
}

/* SHOW WHEN HOVER */
.dropdown:hover .dropdown-menu {
display: flex;

}

/* MENU LINKS */
.dropdown-menu a {
    display: flex;
color: black;
padding:20px;
text-decoration: none;
font-size: 30px;
font-weight: 600;
opacity: 0.6;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
margin-left: 100px;


}

.dropdown-menu a:hover {
opacity: 0.5;

}

footer {
    background: #f7f6f6;
    margin-bottom: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 13px;
    color: #666666;
    margin: auto;
    
    
}

footer a {
    text-decoration: none;
    color: #3c3c3c;
}

.p2 {
    margin-bottom: 20px;
    margin-left: 20px; 
}

.p2 a {
    text-decoration: none;
    color: #169eff;
}

.p3 {
    margin-left: 20px;
    width: 100%;
    height: 60px;
    
}
